/* 通用設定 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
*{
    position: relative;
}
body{
    font-size: 14px;
    line-height: 140%;
    font-family: 'Noto Sans TC',sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}
a{
    text-decoration: none;
    color: black;
}
a i{
    font-size: 12px;
}
header{
    font-size: 14px;
}
.brand{
    font-size: 24px;
    font-weight: 700;
}
.form{
    font-size: 12px;
    /* line-height: 100%; */
}
.account{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}
.account i{
    font-size: 30px;     /* 改icon大小用 */
}
footer{
    margin-top: 50px;
    font-size: 12px;
    line-height: 100%;
}
footer i{    /* 改icon大小用 */
    font-size: 18px;
    line-height: 100%;
}
.center{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
/* main */
.sideNav{
    /* background-color: lightgray; */
    padding: 0;
    line-height: 240%;
}
.arrangement i{
    font-size: 30px;
    color: gray;
}
button i{
    font-size: 20px;
}
.displayNone{
    display: none;
}