<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LE GOUT樂固</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/news.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>

<body>
    <!-- top nav -->
    <header>
        <nav class="bg-light">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="mt-3">
                    <a class="brand " href="index.html">LE GOUT</a>
                    <p>Handcrafted for generations.</p>
                </div>
                <div>
                    <a class="link-secondary me-3" href="about.html">家居靈感</a>
                    <a class="link-secondary me-3" href="index.html">新品注目</a>
                    <a class="link-secondary me-3" href="index.html">展示品專區</a>
                    <a class="link-secondary me-3" href="index.html">現貨商品</a>
                    <a class="link-secondary me-3" href="news.html">最新活動</a>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2 form" type="search" placeholder="請輸入商品編號...">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
        </nav>
    </header>

    <!-- account -->
    <div class="account">
        <a href="#"><i class="bi bi-caret-up me-3"></i></a>
        <a href=""><i class="bi bi-person me-3"></i></a>
        <a href=""><i class="bi bi-cart3 me-3"></i></a>
    </div>

    <!-- main -->
    <main class="container">
        <!-- 練習用 Vue 抓'第一層陣列'資料中的'物件'資料 -->
        <ul class="mt-5">
            <li class="row" v-for="item in newsList">
                <div class="col p-3">
                    <img src="../imgs/01.jpg" class="img-fluid" alt="Error">
                </div>
                <div class="col p-5">
                    <h5 class="justify-content-center">{{item.title}}</h5>
                    <p>{{item.date}}</p>
                    <p>{{item.content}}</p>
                    <!-- 抓'第二層陣列'資料中的資料 -->
                    <ul class="list-group list-group-flush">參與活動椅款
                        <li class="list-group-item" v-for="product in item.products"><a href="">{{product}}</a><br /></li>
                    </ul>
                </div>
                <hr />
            </li>            
        </ul>

    </main>

    <!-- footer -->
    <footer class="container-fluid bg-light p-3">
        <div class="center">
            <span class="me-5">樂朋股份有限公司版權所有© 2013 Copyright by LEGOUT.all right reserved</span>

            <a class="link-secondary me-2" href="index.html">首頁</a>
            <a class="link-secondary me-2" href="news.html">最新消息</a>
            <a class="link-secondary me-2" href="about.html">關於樂固</a>
            <a class="link-secondary me-5" href="service.html" tabindex="-1" aria-disabled="true">服務說明</a>

            <a class="link-secondary me-2" href=""><i class="bi bi-line me-2"></i></a>
            <a class="link-secondary me-2" href=""><i class="bi bi-instagram me-2"></i></a>
            <a class="link-secondary me-2" href=""><i class="bi bi-facebook me-2"></i></a>
        </div>
    </footer>

    <script>
        // 注意 outer_data 要放在 vm 之前,否則 vm 讀取不到資料
        var outer_data = {
            newsList: [
                {
                    title: "經典黑白配",
                    date: "2022/10/01-2022/12/31",
                    content: "指定椅款的黑白色系,混搭89折！詳細椅款請至商品資訊頁查詢，或聯絡門市專員為您服務。Ut quae labore amet. Minima rem culpadoloribus maxime officiis voluptatum facere, incidunt expedita numquam, quos provident illo animi repudiandae aut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quae labore amet. Minima rem culpadoloribus maxime officiis voluptatum facere, incidunt expedita numquam, quos provident illo animi repudiandae aut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quae labore amet. Minima rem culpadoloribus maxime officiis voluptatum facere, incidunt expedita numquam, quos provident illo animi repudiandae aut.",
                    products: [311014, 313014, 315014, 313018,  311018]
                },
                {
                    title: "夏季折扣 5 折起",
                    date: "2022/07/01-2022/08/31",
                    content: "Minima rem culpadoloribus maxime officiis voluptatum facere, incidunt expedita numquam, quos provident illo animi repudiandae aut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quae labore amet.",
                    products: [321020, 311369, 321400, 315018, 323811, 325811]
                }
            ]
        }
        var vm = new Vue({
            el: ".container",
            data: outer_data
        })
    </script>
</body>

</html>