*{
    position: relative;
    font-family: sans-serif;
}
.app{
    width: 50vw;
    border: 1px solid gray;
    box-shadow: 5px 5px gray;
    margin: 30px auto;
    padding: 15px;
    font-size: 16px;
}
.title{
    text-align: center;
    font-family: serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;    /* 字母全部轉大寫 */
}
ul{
    list-style: none;
}
